@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none !important;
}

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

fieldset,
img {
  border: 0;
}

ul {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

li {
  list-style: none;
}

.Car_name a {
  text-decoration: none;
  color: #5B5B5B;
  transition: 0.4s;
}
.Car_name:hover a {
  color: #0C81F3 !important;
}

.header {
  width: 100vw;
  position: fixed;
  z-index: 20;
  transition: all 0.4s linear;
}
.header .header-top {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #4D4D4D;
}
.header .header-top .header-top_Box {
  padding-top: 7px;
  padding-bottom: 7px;
}
.header .header-top .header-top_Box .header_conatctBOx {
  gap: 34px;
  margin-bottom: 0 !important;
}
.header .header-top .header-top_Box .header_conatctBOx .header-contact_items .header-contact-eamil {
  color: #E8EFFF;
}
.header .header-top .header-top_Box .header_conatctBOx .header-contact_items .line {
  width: 1px;
  height: 33px;
  background: #4D4D4D;
}
.header .header-top .header-top_Box .header-social_iconBox .followIcon {
  margin-bottom: 0 !important;
  margin-right: 34px;
}
.header .header-top .header-top_Box .header-social_iconBox .line {
  width: 1px;
  height: 33px;
  background: #4D4D4D;
}
.header .header-top .header-top_Box .header-social_iconBox .social-follow-way {
  color: #E8EFFF;
  margin-right: 12px;
}
.header .header-top .header-top_Box .header-social_iconBox .lognin_btn {
  margin-left: 34px;
}
.header .header-top .header-top_Box .header-social_iconBox .lognin_btn .header_logIng-btn {
  margin-left: 10px;
}
.header .navbar {
  transition: 0.3s linear;
  border-bottom: 1px solid #4D4D4D;
}
.header .navbar .nav-menu .nav-item {
  position: relative;
  transition: 0.4s;
}
.header .navbar .nav-menu .nav-item .nav-link {
  color: #E8EFFF;
  transition: 0.4s;
  font-size: 18px;
  font-weight: 500;
}
.header .navbar .nav-menu .nav-item:hover .nav-link {
  color: #0C81F3;
}
.header .navbar .nav-menu .nav-item:hover:after {
  transition: 0.4s;
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #0C81F3;
}
.header .navbar .nav-menu .btn-search {
  padding: 19px 30px;
  background: #E8EFFF;
  color: #0C81F3;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
.header .navbar .nav-menu .btn-search:hover {
  background: #0C81F3;
  color: #E8EFFF;
}

.sticky {
  position: fixed;
  width: 100vw;
  z-index: 20;
  margin-top: -48px;
}
.sticky .navbar {
  background-color: #fff;
  border: none;
}
.sticky .navbar .nav-menu .nav-item {
  position: relative;
  transition: 0.4s;
}
.sticky .navbar .nav-menu .nav-item .nav-link {
  color: #0C81F3;
  transition: 0.4s;
  font-size: 18px;
  font-weight: 500;
}
.sticky .navbar .nav-menu .nav-item:hover .nav-link {
  color: #006DD7;
}
.sticky .navbar .nav-menu .btn-search {
  padding: 19px 30px;
  background: #0C81F3;
  color: #E8EFFF;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
.sticky .navbar .nav-menu .btn-search:hover {
  background: #006DD7;
  color: #E8EFFF;
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 230px;
  padding-bottom: 75px;
}
.hero .hero-benner .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .hero-benner .hero-text .hero_heading {
  color: #E8EFFF;
}
.hero .hero-benner .hero-text .hero-title {
  color: #E8EFFF;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
}
.hero .hero-benner .hero-search {
  margin-top: 95px;
  padding-left: 218px;
  padding-right: 218px;
}
.hero .hero-benner .hero-search .from {
  display: flex;
  align-self: center;
  padding: 30px;
  background-image: linear-gradient(135.86deg, rgba(177, 177, 177, 0.32) 5.24%, rgba(54, 53, 103, 0.2) 51.01%);
}
.hero .hero-benner .hero-search .from .row {
  width: 93%;
}
.hero .hero-benner .hero-search .from .row .hero-search {
  width: fit-content;
}
.hero .hero-benner .hero-search .from .row input[type=email]::value {
  color: #999;
  font-size: 16px;
  font-weight: 500;
}
.hero .hero-benner .hero-search .from .btn-search {
  margin-left: 8px;
  padding: 14px;
  outline: none;
  border: none;
  background: #0C81F3;
  border-radius: 4px;
}
.hero .bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
  left: 0;
}
.hero .bgImg .backgound-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .bg-liner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  background-image: linear-gradient(13.09deg, rgba(0, 0, 0, 0.21) -47.46%, #000000 90.57%);
}

#brand {
  margin-top: 70px;
}
#brand .brandBox .brand_heading {
  gap: 18px;
  margin-bottom: 30px;
}
#brand .brandBox .brand_heading .brand_slider {
  gap: 20px;
}
#brand .brandBox .brand_heading .brand_slider button {
  border: none;
}
#brand .brandBox .brand_heading .brand_slider span {
  padding: 16px 21px;
  background-color: #E8EFFF;
  border-radius: 4px;
  transition: 0.4;
}
#brand .brandBox .brand_heading .brand_slider span:hover {
  background-color: #0C81F3;
}
#brand .brandBox .brand_heading .brand_slider span:hover path {
  stroke: #E8EFFF;
}
#brand .brandBox .silder-card .imgBox {
  width: 140px;
  height: 140px;
  transition: 0.3s all;
  border-radius: 5px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border: 1px solid #E8EFFF;
}
#brand .brandBox .silder-card .imgBox:hover {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.0784313725);
}
#brand .brandBox .silder-card .imgBox img {
  aspect-ratio: square;
  max-width: 106px;
  width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
}
#brand .brandBox .smaill-device {
  margin-top: 20px;
}
#brand .brandBox .smaill-device .small_brand_slider {
  display: none;
  gap: 20px;
}
#brand .brandBox .smaill-device .small_brand_slider button {
  border: none;
}
#brand .brandBox .smaill-device .small_brand_slider span {
  padding: 16px 21px;
  background-color: #E8EFFF;
  border-radius: 4px;
  transition: 0.4;
}
#brand .brandBox .smaill-device .small_brand_slider span:hover {
  background-color: #0C81F3;
}
#brand .brandBox .smaill-device .small_brand_slider span:hover path {
  stroke: #E8EFFF;
}

#RentCar {
  margin-top: 70px;
}
#RentCar .rentalCard-wepper .rentCar-heading {
  margin-bottom: 30px;
}
#RentCar .rentalCard-wepper .rentCar-heading .btn-search {
  padding: 19px 30px;
  background: #0C81F3;
  color: #E8EFFF;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
#RentCar .rentalCard-wepper .rentCar-heading .btn-search:hover {
  background: #E8EFFF;
  color: #0C81F3;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 30px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card:hover .Latest_Scard_ImgBox img {
  transform: scale(1.1);
  transition: 0.4s;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_ImgBox {
  overflow: hidden;
  max-width: 342px;
  aspect-ratio: 342px/217px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_ImgBox .service-card-img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .number_two {
  margin-top: 50px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_price {
  font-size: 24px;
  color: #0C81F3;
  font-weight: 700;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_haert {
  top: 15px;
  right: 15px;
  line-height: initial;
  padding: 8px 7px;
  background-color: rgba(12, 129, 243, 0.8);
  border-radius: 4px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard__BlogerIcon {
  margin-bottom: 10px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard__BlogerIcon .carRide-number {
  padding: 5px 10px;
  background-color: #E8EFFF;
  color: #5B5B5B;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard__BlogerIcon .ride-day {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #5B5B5B;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_body {
  padding: 20px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_body .carbox {
  margin-top: 18px;
  padding: 0 8px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_body .carbox .carbox-items .carbox-icon-svg {
  color: #5B5B5B;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_icon {
  gap: 5px;
  color: #1778F2 !important;
  font-size: 14px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_title {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 700;
  max-width: 100%;
  display: block;
  white-space: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8EFFF;
  transition: all 0.3s linear;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_title:hover {
  border-color: #0C81F3;
  transform: translateX(0);
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_title .latest-serviceCard-title {
  color: #111111;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_UserInfo .user_info_img {
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 100%;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User {
  margin-top: 15px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_Scard_UserInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_Scard_UserInfo .user_info_imgBox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #647082;
  text-decoration: none;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review {
  display: flex;
  align-items: center;
  gap: 8px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review .Latest_service_User_reviewNumber {
  color: #647082;
  font-size: 14px;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review .Latest_service_User_reviewNumber .etest_ServiceCard_review {
  color: #06131C;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review .Latest_service_User_star {
  font-size: 11px;
  color: #F2C94C;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_service_book_btn {
  display: block; /* Change to block for full width */
  width: 100%; /* Ensure full width */
  padding: 10px 20px;
  background-color: #E8EFFF;
  color: #333333;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.5s;
  transition: background-color 0.3s ease;
  font-weight: 700;
}
#RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_service_book_btn:hover {
  background-color: #0C81F3;
  color: #fff;
}
#RentCar .rentalCard-wepper .small-device-btn {
  justify-content: center;
}
#RentCar .rentalCard-wepper .small-device-btn .btn-search {
  display: none;
  margin-bottom: 20px;
  padding: 19px 30px;
  background: #0C81F3;
  color: #E8EFFF;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
#RentCar .rentalCard-wepper .small-device-btn .btn-search:hover {
  background: #006DD7;
  color: #E8EFFF;
}

#ooferCar .offerCar-box .brand_heading {
  gap: 18px;
  margin-bottom: 30px;
}
#ooferCar .offerCar-box .brand_heading .brand_slider {
  gap: 20px;
}
#ooferCar .offerCar-box .brand_heading .brand_slider button {
  border: none;
}
#ooferCar .offerCar-box .brand_heading .brand_slider span {
  padding: 16px 21px;
  background-color: #E8EFFF;
  border-radius: 4px;
  transition: 0.4;
}
#ooferCar .offerCar-box .brand_heading .brand_slider span:hover {
  background-color: #0C81F3;
}
#ooferCar .offerCar-box .brand_heading .brand_slider span:hover path {
  stroke: #E8EFFF;
}
#ooferCar .offerCar-box .small-device {
  margin-top: 30px;
}
#ooferCar .offerCar-box .small-device .small_brand_slider {
  gap: 20px;
}
#ooferCar .offerCar-box .small-device .small_brand_slider button {
  border: none;
}
#ooferCar .offerCar-box .small-device .small_brand_slider span {
  padding: 16px 21px;
  background-color: #E8EFFF;
  border-radius: 4px;
  transition: 0.4;
}
#ooferCar .offerCar-box .small-device .small_brand_slider span:hover {
  background-color: #0C81F3;
}
#ooferCar .offerCar-box .small-device .small_brand_slider span:hover path {
  stroke: #E8EFFF;
}

#popularCar {
  margin-top: 70px;
}
#popularCar .rentalCard-wepper .rentCar-heading {
  margin-bottom: 30px;
}
#popularCar .rentalCard-wepper .rentCar-heading .btn-search {
  padding: 19px 30px;
  background: #0C81F3;
  color: #E8EFFF;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
#popularCar .rentalCard-wepper .rentCar-heading .btn-search:hover {
  background: #E8EFFF;
  color: #0C81F3;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 30px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card:hover .Latest_Scard_ImgBox .service-card-img {
  transform: scale(1.1);
  transition: 0.4s;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_ImgBox {
  overflow: hidden;
  max-width: 342px;
  aspect-ratio: 342px/217px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_ImgBox .service-card-img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .number_two {
  margin-top: 50px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_price {
  font-size: 24px;
  color: #0C81F3;
  font-weight: 700;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_haert {
  top: 15px;
  right: 15px;
  line-height: initial;
  padding: 8px 7px;
  background-color: rgba(12, 129, 243, 0.8);
  border-radius: 4px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_haert i {
  color: rgba(12, 129, 243, 0.8);
  font-size: 20px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard__BlogerIcon {
  margin-bottom: 10px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard__BlogerIcon .carRide-number {
  padding: 5px 10px;
  background-color: #E8EFFF;
  color: #5B5B5B;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard__BlogerIcon .ride-day {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #5B5B5B;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_body {
  padding: 20px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_body .carbox {
  margin-top: 18px;
  padding: 0 8px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_body .carbox .carbox-items .carbox-icons {
  color: #5B5B5B;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_icon {
  gap: 5px;
  color: #1778F2 !important;
  font-size: 14px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_title {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 700;
  max-width: 100%;
  display: block;
  white-space: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8EFFF;
  transition: all 0.3s linear;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_title:hover {
  border-color: #0C81F3;
  transform: translateX(0);
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_title .latest-serviceCard-title {
  color: #111111;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_UserInfo .user_info_img {
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 100%;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User {
  margin-top: 15px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_Scard_UserInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_Scard_UserInfo .user_info_imgBox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #647082;
  text-decoration: none;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review {
  display: flex;
  align-items: center;
  gap: 8px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review .Latest_service_User_reviewNumber {
  color: #647082;
  font-size: 14px;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review .Latest_service_User_reviewNumber .letest_ServiceCard_review {
  color: #06131C;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_User .Latest_service_User_review .Latest_service_User_star i {
  font-size: 11px;
  color: #F2C94C;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_service_book_btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #E8EFFF;
  color: #333333;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.5s;
  transition: background-color 0.3s ease;
  font-weight: 700;
}
#popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_service_book_btn:hover {
  background-color: #0C81F3;
  color: #fff;
}
#popularCar .rentalCard-wepper .small-device-btn {
  justify-content: center;
}
#popularCar .rentalCard-wepper .small-device-btn .btn-search {
  display: none;
  margin-bottom: 20px;
  padding: 19px 30px;
  background: #0C81F3;
  color: #E8EFFF;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
#popularCar .rentalCard-wepper .small-device-btn .btn-search:hover {
  background: #006DD7;
  color: #E8EFFF;
}

#delar {
  padding-top: 80px;
}
#delar .delar-bg {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #0C81F3;
}
#delar .delar-bg .delar-box {
  gap: 119px;
  padding-left: 7rem;
  padding-right: 7rem;
}
#delar .delar-bg .delar-box .delar-content {
  z-index: 1;
  max-width: 535px;
  width: 100%;
}
#delar .delar-bg .delar-box .delar-content .bg-img {
  bottom: 0;
  left: 0;
  z-index: -1;
}
#delar .delar-bg .delar-box .delar-content .bg-img .bg-vactor-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
#delar .delar-bg .delar-box .delar-content .delar-content-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #FFFFFF;
}
#delar .delar-bg .delar-box .delar-content .delar-content-info {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #FFFFFF;
}
#delar .delar-bg .delar-box .delar-content .delar-content-btn {
  margin-top: 40px;
  padding: 19px 30px;
  background: #E8EFFF;
  color: #06131C;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
#delar .delar-bg .delar-box .delar-content .delar-content-btn:hover {
  background: #0C81F3;
  color: #06131C;
}
#delar .delar-bg .delar-box .delar-Img-box {
  max-width: 530px;
  aspect-ratio: 530px/370px;
}
#delar .delar-bg .delar-box .delar-Img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#easyRent {
  margin-top: 68px;
}
#easyRent .easyRent-heading {
  text-align: center;
  margin-bottom: 7rem;
}
#easyRent .easyRent-way-box {
  width: 100%;
  display: flex;
  column-gap: 10rem;
  gap: 0;
  margin: 0;
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper {
  gap: 31px;
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head {
  max-width: 84px;
  max-height: 128px;
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-rule-number {
  font-size: 80px;
  font-weight: 700;
  line-height: 16px;
  color: #DDE8FF;
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -86px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 78px;
  border: 1px solid #DDE8FF;
  background-color: #FFFFFF;
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-arrowIcon {
  max-width: 137px;
  overflow: hidden;
  top: -40px;
  left: 50%;
  transform: translateX(100%);
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content {
  text-align: center;
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content .easyRent-card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
#easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content .easyRent-card-info {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #3F3F3F;
}

#app {
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 80px;
}
#app .appbg-box {
  width: 100%;
  background-color: #F2F8FF;
}
#app .appbg-box .app-content-box {
  padding-left: 84px;
  padding-right: 84px;
}
#app .appbg-box .app-content-box .app-details {
  z-index: 1;
}
#app .appbg-box .app-content-box .app-details .app-bg-img {
  z-index: -1;
  bottom: 0;
  left: 120px;
}
#app .appbg-box .app-content-box .app-details .app-content {
  padding-top: 116px;
  max-width: 607px;
  width: 100%;
}
#app .appbg-box .app-content-box .app-details .app-content .app-content-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #0C81F3;
}
#app .appbg-box .app-content-box .app-details .app-content .app-content-title {
  margin-top: 27px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}
#app .appbg-box .app-content-box .app-details .app-content .app-content-info {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #5B5B5B;
  margin-bottom: 0 !important;
}
#app .appbg-box .app-content-box .app-details .app-content .app-content-btnBox {
  margin-top: 56px;
  gap: 30px;
}
#app .appbg-box .app-content-box .app-details .app-content .app-content-btnBox .app-btn-ImgBox {
  border-radius: 6px;
  transition: 0.4s;
  border: 1px solid transparent;
}
#app .appbg-box .app-content-box .app-details .app-content .app-content-btnBox .app-btn-ImgBox .app-btn-img {
  border-radius: 6px;
}
#app .appbg-box .app-content-box .app-details .app-content .app-content-btnBox .app-btn-ImgBox:hover {
  border: 1px solid #0C81F3;
}

#footer {
  background-color: #0E0D10;
}
#footer .footer-box {
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 150px;
}
#footer .footer-box .footerbox-item {
  width: fit-content;
}
#footer .footer-box .footerbox-item .discover-info {
  max-width: 324px;
  margin-top: 31px;
  margin-bottom: 40px;
  color: #96929B;
}
#footer .footer-box .footerbox-item .footer-social-icon {
  gap: 15px;
}
#footer .footer-box .footerbox-item .footer-social-icon .footer-icon {
  padding: 11px;
  border-radius: 4px;
  border: 1.2px solid #2C2537;
  transition: 0.4s;
}
#footer .footer-box .footerbox-item .footer-social-icon .footer-icon:hover {
  background-color: #0C81F3;
}
#footer .footer-box .footerbox-item h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 0 !important;
}
#footer .footer-box .footerbox-item .footer-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#footer .footer-box .footerbox-item .footer-menu .footer-menu-items {
  overflow: hidden;
}
#footer .footer-box .footerbox-item .footer-menu .footer-menu-items a {
  text-decoration: none;
  display: block;
  color: #96929B;
  transition: all 0.3s ease-in-out;
}
#footer .footer-box .footerbox-item .footer-menu .footer-menu-items a .menu-item-arrow {
  display: none;
  margin-right: 7px;
  transition: all 0.3s ease-in-out;
}
#footer .footer-box .footerbox-item .footer-menu .footer-menu-items a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #6D6D6D;
}
#footer .footer-box .footerbox-item .footer-menu .footer-menu-items a:hover .menu-item-arrow {
  display: inline;
}
#footer .footer-box .footerbox-item .adress-box p {
  max-width: 223px;
  line-height: 28px;
  color: #96929B;
}
#footer .footer-box .footerbox-item .Contact-box p {
  max-width: 223px;
  line-height: 28px;
  color: #96929B;
}
#footer .footer-box .footerbox-item .new-info {
  color: #96929B;
  max-width: 273px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 34px;
  margin-bottom: 30px;
}
#footer .footer-box .footerbox-item .eamil-input {
  width: 100%;
  max-width: 300px;
  padding-left: 25px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #96929B;
  border: 1.2px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 4px;
  outline: none;
  background-color: rgba(243, 244, 249, 0.0509803922);
}
#footer .footer-box .footerbox-item .sing-in-btn {
  margin-top: 10px;
  gap: 10px;
  padding: 19px 30px;
  background: #0C81F3;
  color: #E8EFFF;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
}
#footer .footer-box .footerbox-item .sing-in-btn:hover {
  background: #006DD7;
  color: #FFFFFF;
}
#footer .footer-box .footer-box-two {
  max-width: 160px;
  width: 100%;
}
#footer .footer-copyright-box {
  position: relative;
  padding-top: 29px;
  padding-bottom: 31px;
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
}
#footer .footer-copyright-box .move-home {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  padding: 15px 18px;
  background-color: #0C81F3;
  border-radius: 4px;
}
#footer .footer-copyright-box .copy-right-title {
  color: #5B5B5B;
  font-size: 20px;
  font-weight: 400;
}
#footer .footer-copyright-box .copy-right-title .carHeadr {
  color: #FFFFFF;
  font-weight: 600;
}
#footer .footer-copyright-box .footer-privacy {
  gap: 34px;
}
#footer .footer-copyright-box .footer-privacy .footer-privacy-items .footer-privacy-link {
  color: #8B9592;
  transition: 0.4s;
}
#footer .footer-copyright-box .footer-privacy .footer-privacy-items .footer-privacy-link:hover {
  color: #FFFFFF;
}
#footer .footer-copyright-box .footer-privacy .footer-privacy-items .line {
  width: 1px;
  height: 12px;
  background: #4D4D4D;
}

/*here all responsive css*/
@media only screen and (min-width: 300px) and (max-width: 346px) {
  .brandBox .brand_heading {
    gap: 18px;
    margin-bottom: 30px;
  }
  .brandBox .brand_heading .brand_slider {
    display: none !important;
  }
  .brandBox .small_brand_slider {
    margin-top: 20px;
    display: inline-block !important;
    gap: 20px;
  }
  .brandBox .small_brand_slider button {
    border: none;
  }
  .brandBox .small_brand_slider span {
    padding: 16px 21px;
    background-color: #E8EFFF;
    border-radius: 4px;
    transition: 0.4;
  }
  .brandBox .small_brand_slider span:hover {
    background-color: #0C81F3;
  }
  .brandBox .small_brand_slider span:hover path {
    stroke: #E8EFFF;
  }
  #ooferCar .offerCar-box .brand_heading {
    gap: 18px;
    margin-bottom: 30px;
  }
  #ooferCar .offerCar-box .brand_heading .brand_slider {
    display: none !important;
  }
  #ooferCar .offerCar-box .smaill-device {
    margin-top: 20px;
  }
  #ooferCar .offerCar-box .smaill-device .small_brand_slider {
    display: inline-block !important;
    gap: 20px;
  }
  #ooferCar .offerCar-box .smaill-device .small_brand_slider button {
    border: none;
  }
  #ooferCar .offerCar-box .smaill-device .small_brand_slider span {
    padding: 16px 21px;
    background-color: #E8EFFF;
    border-radius: 4px;
    transition: 0.4;
  }
  #ooferCar .offerCar-box .smaill-device .small_brand_slider span:hover {
    background-color: #0C81F3;
  }
  #ooferCar .offerCar-box .smaill-device .small_brand_slider span:hover path {
    stroke: #E8EFFF;
  }
}
@media only screen and (min-width: 347px) {
  .brandBox .small_brand_slider {
    display: none !important;
    gap: 20px;
  }
  #ooferCar .offerCar-box .small-device {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .header .header-top {
    display: none !important;
  }
  .hero {
    padding-top: 110px;
  }
  .hero .hero-benner .hero-text .hero_heading {
    font-size: 16px;
    font-weight: 400;
  }
  .hero .hero-benner .hero-text .hero-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }
  .hero .hero-benner .hero-search {
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero .hero-benner .hero-search .from {
    flex-direction: column;
    gap: 20px;
  }
  .hero .hero-benner .hero-search .from .row {
    gap: 20px;
    width: 100%;
    padding-left: 6px;
  }
  .hero .hero-benner .hero-search .from .row .input-items {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0;
  }
  .hero .hero-benner .hero-search .from .btn-search {
    margin-left: 0 !important;
    width: 100%;
  }
  .brand_heading .brand_heading-title {
    font-size: 24px !important;
    font-weight: 500;
    line-height: 34px;
  }
  #RentCar .rentalCard-wepper .brand_heading .brand_slider {
    display: none !important;
  }
  #RentCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_ImgBox {
    max-width: 100%;
  }
  #RentCar .rentalCard-wepper .small-device-btn .btn-search {
    display: inline-block !important;
  }
  .Latest_Services_card .Latest_Scard_title {
    font-size: 20px !important;
    font-weight: 500 !important;
  }
  #popularCar .rentalCard-wepper .brand_heading .brand_slider {
    display: none !important;
  }
  #popularCar .rentalCard-wepper .card-WepperBox .Latest_Services_card .Latest_Scard_ImgBox {
    max-width: 100%;
  }
  #popularCar .rentalCard-wepper .small-device-btn .btn-search {
    display: inline-block !important;
  }
  #delar {
    padding-top: 40px;
  }
  #delar .delar-bg {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #delar .delar-bg .delar-box {
    gap: 49px;
    padding-left: 38px;
    padding-right: 26px;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-title {
    font-size: 24px !important;
    font-weight: 500;
    line-height: 34px;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0 !important;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-btn {
    margin-top: 40px;
    padding: 19px 30px;
    background: #E8EFFF;
    color: #06131C;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-btn:hover {
    background: #0C81F3;
    color: #06131C;
  }
  #easyRent {
    margin-top: 68px;
  }
  #easyRent .easyRent-heading .easyRent_subTitle {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }
  #easyRent .easyRent-heading .easyRent-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }
  #easyRent .easyRent-way-box {
    display: flex !important;
    flex-direction: column;
    gap: 7rem;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper {
    width: 100% !important;
    gap: 31px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -86px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 78px;
    border: 1px solid #DDE8FF;
    background-color: #FFFFFF;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-arrowIcon {
    display: none;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content {
    text-align: center;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content .easyRent-card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content .easyRent-card-info {
    font-size: 16px;
    font-weight: 400;
  }
  #app {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #app .appbg-box .app-content-box {
    flex-direction: column;
    padding-left: 31px;
    padding-right: 32px;
  }
  #app .appbg-box .app-content-box .app-details {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-details .app-content {
    text-align: center;
  }
  #app .appbg-box .app-content-box .app-details .app-content .app-content-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
  #app .appbg-box .app-content-box .app-details .app-content .app-content-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 18px;
    margin-bottom: 20px !important;
  }
  #app .appbg-box .app-content-box .app-details .app-content .app-content-info {
    font-size: 14px;
    font-weight: 400;
  }
  #app .appbg-box .app-content-box .app-details .app-content .app-content-btnBox {
    margin-top: 34px !important;
  }
  #app .appbg-box .app-content-box .app-details .app-bg-img {
    max-width: 390px;
    aspect-ratio: 390px/174px;
  }
  #app .appbg-box .app-content-box .app-details .app-bg-img img {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-img {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-img .app-img-box {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-img .app-img-box img {
    width: 100%;
  }
  #footer .footer-box {
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-left: 20px;
  }
  #footer .footer-box .footerbox-item .eamil-input {
    max-width: 300px;
  }
  #footer .footer-copyright-box {
    flex-direction: column;
    gap: 10px;
  }
  #footer .footer-copyright-box .move-home {
    display: none;
  }
  #footer .footer-copyright-box .footer-privacy {
    display: flex;
    gap: 5px;
  }
  #footer .footer-copyright-box .copy-right-title {
    margin-bottom: 0 !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .header-top {
    display: none !important;
  }
  .hero .hero-benner .hero-search {
    margin-top: 95px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero .hero-benner .hero-search .from {
    flex-direction: column;
    gap: 20px;
  }
  .hero .hero-benner .hero-search .from .row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
  }
  .hero .hero-benner .hero-search .from .row .input-items {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0;
  }
  .hero .hero-benner .hero-search .from .btn-search {
    margin-left: 0 !important;
    width: 100%;
  }
  #RentCar .rentalCard-wepper .card-WepperBox .row {
    display: grid !important;
    grid-template-columns: auto auto;
  }
  #RentCar .rentalCard-wepper .card-WepperBox .row .Latest_Services_card .Latest_Scard_ImgBox {
    max-width: 100%;
  }
  #popularCar .rentalCard-wepper .card-WepperBox .row {
    display: grid !important;
    grid-template-columns: auto auto;
  }
  #popularCar .rentalCard-wepper .card-WepperBox .row .Latest_Services_card .Latest_Scard_ImgBox {
    max-width: 100%;
  }
  #delar {
    padding-top: 40px;
  }
  #delar .delar-bg .delar-box {
    gap: 49px;
    padding-left: 38px;
    padding-right: 26px;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-btn {
    margin-top: 40px;
    padding: 19px 30px;
    background: #E8EFFF;
    color: #06131C;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-btn:hover {
    background: #0C81F3;
    color: #06131C;
  }
  #easyRent {
    margin-top: 68px;
  }
  #easyRent .easyRent-way-box {
    display: grid !important;
    grid-template-columns: auto auto;
    gap: 6rem;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper {
    gap: 31px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -86px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 78px;
    border: 1px solid #DDE8FF;
    background-color: #FFFFFF;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-arrowIcon {
    display: none;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content {
    text-align: center;
  }
  #app {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #app .appbg-box .app-content-box {
    flex-direction: column;
    padding-left: 31px;
    padding-right: 32px;
  }
  #app .appbg-box .app-content-box .app-details {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-details .app-bg-img {
    max-width: 390px;
    aspect-ratio: 390px/174px;
  }
  #app .appbg-box .app-content-box .app-details .app-bg-img img {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-img {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-img .app-img-box {
    width: 100%;
  }
  #app .appbg-box .app-content-box .app-img .app-img-box img {
    width: 100%;
  }
  #footer .footer-box {
    display: grid !important;
    grid-template-columns: auto auto;
    gap: 40px;
    padding-top: 40px;
    padding-left: 20px;
  }
  #footer .footer-box .footerbox-item .eamil-input {
    width: 300px;
  }
  #footer .footer-copyright-box {
    flex-direction: column;
    gap: 10px;
  }
  #footer .footer-copyright-box .move-home {
    display: none;
  }
  #footer .footer-copyright-box .footer-privacy {
    display: flex;
    gap: 5px;
  }
  #footer .footer-copyright-box .copy-right-title {
    margin-bottom: 0 !important;
  }
}
@media (max-width:1023px) {
  #easyRent {
    margin-top: 68px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper {
    gap: 31px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -86px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 78px;
    border: 1px solid #DDE8FF;
    background-color: #FFFFFF;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-arrowIcon {
    display: none;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header .header-top {
    display: inline-block;
  }
  .hero .hero-benner .hero-search {
    margin-top: 95px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero .hero-benner .hero-search .from {
    align-items: center;
    gap: 20px;
  }
  .hero .hero-benner .hero-search .from .row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    width: 100%;
  }
  .hero .hero-benner .hero-search .from .row .input-items {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0;
  }
  .hero .hero-benner .hero-search .from .btn-search {
    margin-left: 0 !important;
  }
  #RentCar .rentalCard-wepper .card-WepperBox .row {
    display: grid !important;
    grid-template-columns: auto auto;
  }
  #RentCar .rentalCard-wepper .card-WepperBox .row .col-lg-3 {
    width: 100%;
  }
  #RentCar .rentalCard-wepper .card-WepperBox .row .Latest_Services_card .Latest_Scard_ImgBox {
    max-width: 100%;
  }
  #popularCar .rentalCard-wepper .card-WepperBox .row {
    display: grid !important;
    grid-template-columns: auto auto;
  }
  #popularCar .rentalCard-wepper .card-WepperBox .row .col-lg-3 {
    width: 100%;
  }
  #popularCar .rentalCard-wepper .card-WepperBox .row .Latest_Services_card .Latest_Scard_ImgBox {
    max-width: 100%;
  }
  #easyRent {
    margin-top: 68px;
  }
  #easyRent .easyRent-heading {
    text-align: center;
    margin-bottom: 7rem;
  }
  #easyRent .easyRent-way-box {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
  }
  #easyRent .easyRent-way-box .easyRent-card {
    width: 100%;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper {
    gap: 31px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-rule-number {
    font-size: 80px;
    font-weight: 700;
    line-height: 16px;
    color: #DDE8FF;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -86px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 78px;
    border: 1px solid #DDE8FF;
    background-color: #FFFFFF;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-arrowIcon {
    display: none;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content {
    text-align: center;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content .easyRent-card-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content .easyRent-card-info {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #3F3F3F;
  }
  #delar {
    padding-top: 40px;
  }
  #delar .delar-bg .delar-box {
    gap: 49px;
    padding-left: 38px;
    padding-right: 26px;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-btn {
    margin-top: 40px;
    padding: 19px 30px;
    background: #E8EFFF;
    color: #06131C;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  #delar .delar-bg .delar-box .delar-content .delar-content-btn:hover {
    background: #0C81F3;
    color: #06131C;
  }
  #app .appbg-box .app-content-box {
    padding-left: 45px;
    padding-right: 45px;
  }
  #footer .footer-box {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 65px;
  }
}
@media pc-medium {
  #easyRent .easyRent-way-box {
    display: flex;
    gap: 7rem;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper {
    gap: 31px;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -86px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 78px;
    border: 1px solid #DDE8FF;
    background-color: #FFFFFF;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-head .easyRent-card-arrowIcon {
    display: none;
  }
  #easyRent .easyRent-way-box .easyRent-card .easyRent-card-wepper .easyRent-card-content {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */