/*here all responsive css*/
// small device 
@media only screen and (min-width: 300px) and (max-width: 346px){
    .brandBox {
        .brand_heading {
            gap: 18px;
            margin-bottom: 30px;

            .brand_slider {
                
                display: none !important;
                
            }
                   
            }
       
         
            .small_brand_slider{
                margin-top: 20px;
                display: inline-block !important;
                gap: 20px;
                button{
                    border: none;
                }

                span {
                    padding: 16px 21px;
                    background-color: #E8EFFF;
                    border-radius: 4px;
                    transition: 0.4;
                    &:hover {
                        background-color: $primary-color; 
                        path{
                             stroke: $color-white;
                            }
                           
                         }
                    }
            }
        }
#ooferCar{
            .offerCar-box{
                .brand_heading {
                    gap: 18px;
                    margin-bottom: 30px;
        
                    .brand_slider {
                        display: none !important;
                     }
                           
                    }
                    .smaill-device{
                        margin-top: 20px;
                        .small_brand_slider{
                            display: inline-block !important ;
                            gap: 20px;
                            button{
                                border: none;
                            }
            
                            span {
                                padding: 16px 21px;
                                background-color: #E8EFFF;
                                border-radius: 4px;
                                transition: 0.4;
                                &:hover {
                                    background-color: $primary-color; 
                                    path{
                                         stroke: $color-white;
                                        }
                                       
                                     }
                                }
                        }
                       }
            }
        }
    
}
@media only screen and (min-width: 347px){
    .brandBox {
            .small_brand_slider{
                display: none  !important;
                gap: 20px;  
            }
        }

        #ooferCar{
            .offerCar-box{
                .small-device{
                  
                    display: none !important;
                   
                }
            }
        }

        #delar{
            overflow: hidden !important;
        }
}

@media #{$mobile} {
    .header{
        .header-top{
            display: none !important;
        }
    }
    .sticky{
        margin-top: 1px !important;
       }
    // hereo setion media 
    .hero{
        padding-top: 195px;
        .hero-benner{
            .hero-text{
                .hero_heading {
                    font-size: 16px;
                    font-weight: 400;
                }
                .hero-title{
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 34px;
                }

            }
            .hero-search{
                margin-top: 45px;
                padding-left: 20px;
                padding-right: 20px;

               .from{
                flex-direction: column;
                gap: 20px;
                .row{
                    gap: 20px;
                    width: 100%;
                    padding-left: 6px;
                    .input-items{
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        margin-top: 0;
                    }
                }
                .btn-search{
                    margin-left: 0 !important;
                    width: 100%;
                }
              }
            } 
       } 
    
   }

//    here end app
// here end hero 
// hero brand 


.brand_heading {
    .brand_heading-title{
        font-size: 24px !important;
        font-weight: 500;
        line-height: 34px;
    }

}

// here end brand 


// here future car

#RentCar{
    .rentalCard-wepper{
       .brand_heading {
      .brand_slider {
        display: none !important;
      }
    
     }
        .card-WepperBox{
            .Latest_Services_card{
                
                .Latest_Scard_ImgBox {
                    max-width: 100%;
                }
            }
        }
        .small-device-btn{
            .btn-search{
                display: inline-block !important;
            }
        }
    }
}
.Latest_Services_card{
    .Latest_Scard_title{
        font-size: 20px !important;
        font-weight: 500 !important;
    }
}
 
#popularCar{
    .rentalCard-wepper{
        .brand_heading {
            .brand_slider {
              display: none !important;
            }
          
           }
        .card-WepperBox{
            .Latest_Services_card{
              
                .Latest_Scard_ImgBox {
                    max-width: 100%;
                }
            }
        }
        .small-device-btn{
            .btn-search{
                display: inline-block !important;
            }
        }
    }
}
//  here end future rent car 

// here delar section
#delar{
    padding-top: 40px;
    .delar-bg{
        padding-top: 50px;
        padding-bottom: 50px;
        .delar-box{
            gap: 49px;
            padding-left: 38px;
            padding-right: 26px;
            .delar-content{
               
               
                .delar-content-title{
                  font-size: 24px !important;
                  font-weight: 500;
                  line-height: 34px;
                }
                .delar-content-info{
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 0 !important;
                }
                .delar-content-btn{
                    margin-top: 40px;
                    @include btnPrimary($pd:19px 30px, $color:#06131C, $bg:$color-white,$fsize:18px, $bra:4px, $border: none, $outline: none,  $tran: 0.4s, $hoverBG: $primary-color, $hoverCol: #06131C )
                  
                }
        
            }
           
         }
    }
   
}

// end the dealr section
// easyRent section 
#easyRent{
    margin-top: 68px;
    .easyRent-heading{
        .easyRent_subTitle{
         font-size: 14px;
         line-height: 14px;
         font-weight: 400;
        }
        .easyRent-title{
            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
        }
    }
    .easyRent-way-box{
        display: flex !important;
        flex-direction: column;
        
        gap: 7rem;
        .easyRent-card{
           
            .easyRent-card-wepper{
                width: 100% !important;
                gap: 31px;
                .easyRent-card-head{
                    .easyRent-rule-number{
                       
                    }
                    .easyRent-card-icon{
                        
                        display: flex; 
                        justify-content: center;
                        align-items: center;
                       
                        top: -86px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 78px;
                        height: 78px;
                        border: 1px solid #DDE8FF ;
                        background-color: #FFFFFF;
                    }
                    .easyRent-card-arrowIcon{
                    display: none;
                       

                    }
                }
                .easyRent-card-content{
                    text-align: center;
                    .easyRent-card-title{
                     font-size: 20px;
                     font-weight: 600;
                     line-height: 30px;
                       }
                .easyRent-card-info{
                     font-size: 16px;
                     font-weight: 400;
                }
            }
           
        }

    }
   
    
}
}

// easy Rent section 

// here app section
#app{
    margin-top: 40px;
    margin-bottom: 40px;
    .appbg-box{
        .app-content-box{
            flex-direction: column;
            padding-left: 31px;
            padding-right: 32px;
            .app-details{
                width: 100%;
                .app-content{
                    text-align: center;
                    .app-content-subtitle{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 14px;

                    }
                    .app-content-title{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 34px;
                        margin-top: 18px;
                        margin-bottom: 20px !important;
                    }
                    .app-content-info{
                        font-size: 14px;
                        font-weight: 400;
                    }
                    .app-content-btnBox{
                        margin-top: 34px !important;
                    }
                }
                .app-bg-img{
                    max-width: 390px;
                    aspect-ratio: 390px/174px;
                    img{
                        width: 100%;
                    }
                }
            }
            .app-img {
               width: 100%;
               .app-img-box{
                width: 100%;
                img{
                    width: 100%;
                }
               } 
            }
        }
    }
}
// here end the app
// here footer design
#footer{
  
 .footer-box{
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-left: 20px;
    .footerbox-item{
        .eamil-input{
           max-width: 300px;
        }
    }
 }
 .footer-copyright-box{
    flex-direction: column;
    gap: 10px;
    .move-home{
        display: none;
    }
    .footer-privacy{
        display: flex;
        gap: 5px;
    }
    .copy-right-title{
        margin-bottom: 0 !important;
    }
 }

 
}
// here end footer

}



@media #{$phone-tab} {
    .header{
        .header-top{
            display: none !important;
        }
    }
    .sticky{
        margin-top: -2px;
       }
    // hereo setion media 
    .hero{
        .hero-benner{
            .hero-search{
                margin-top: 95px;
                padding-left: 20px;
                padding-right: 20px;

               .from{
                flex-direction: column;
                gap: 20px;
                .row{
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 20px;
                    width: 100%;
                   
                    .input-items{
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        margin-top: 0;
                    }
                }
                .btn-search{
                    margin-left: 0 !important;
                    width: 100%;
                }
              }
            } 
       } 
    
   }
// here future car

#RentCar{

 
    .rentalCard-wepper{
        .card-WepperBox{
            .row{
                display: grid !important;
                grid-template-columns: auto auto;
                
                .Latest_Services_card{
                    .Latest_Scard_ImgBox {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
// here end future car

// here future rent car 
#popularCar{
    .rentalCard-wepper{
        .card-WepperBox{
        .row{
            display: grid !important;
            grid-template-columns: auto auto;

            .Latest_Services_card{
                .Latest_Scard_ImgBox {
                    max-width: 100%;
                }
            }
        }

            
        }
    }
}
//  here end future rent car 
#delar{
    padding-top: 40px;
    .delar-bg{
        .delar-box{
            gap: 49px;
            padding-left: 38px;
            padding-right: 26px;
            .delar-content{
               
               
                .delar-content-title{
               
                }
                .delar-content-info{
                
                }
                .delar-content-btn{
                    margin-top: 40px;
                    @include btnPrimary($pd:19px 30px, $color:#06131C, $bg:$color-white,$fsize:18px, $bra:4px, $border: none, $outline: none,  $tran: 0.4s, $hoverBG: $primary-color, $hoverCol: #06131C )
                  
                }
        
            }
           
         }
    }
   
}
#easyRent{
    margin-top: 68px;
    .easyRent-heading{
       
    }
    .easyRent-way-box{
        display: grid !important;
        grid-template-columns: auto auto;
        gap: 6rem;  
        .easyRent-card{

            .easyRent-card-wepper{
                gap: 31px;
                .easyRent-card-head{
                    .easyRent-rule-number{
                       
                    }
                    .easyRent-card-icon{
                        
                        display: flex; 
                        justify-content: center;
                        align-items: center;
                       
                        top: -86px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 78px;
                        height: 78px;
                        border: 1px solid #DDE8FF ;
                        background-color: #FFFFFF;
                    }
                    .easyRent-card-arrowIcon{
                    display: none;
                       

                    }
                }
                .easyRent-card-content{
                    text-align: center;
                    .easyRent-card-title{
                     
                    .easyRent-card-info{
                     
                    }
                }
            }
           
        }

    }
   
    
}
}

// here app section
#app{
    margin-top: 40px;
    margin-bottom: 40px;
    .appbg-box{
        .app-content-box{
            flex-direction: column;
            padding-left: 31px;
            padding-right: 32px;
            .app-details{
                width: 100%;
                .app-bg-img{
                    max-width: 390px;
                    aspect-ratio: 390px/174px;
                    img{
                        width: 100%;
                    }
                }
            }
            .app-img {
               width: 100%;
               .app-img-box{
                width: 100%;
                img{
                    width: 100%;
                }
               } 
            }
        }
    }
}
// here end the app
// here footer design
#footer{
  
    .footer-box{
      display: grid !important;
      grid-template-columns: auto auto;
       gap: 40px;
       padding-top: 40px;
       padding-left: 20px;
       .footerbox-item{
           .eamil-input{
              width: 300px;
           }
       }
    }
    .footer-copyright-box{
       flex-direction: column;
       gap: 10px;
       .move-home{
           display: none;
       }
       .footer-privacy{
           display: flex;
           gap: 5px;
       }
       .copy-right-title{
           margin-bottom: 0 !important;
       }
    }
   
    
   }
   // here end footer


}

@media #{$tab-land} {
    .sticky{
        margin-top: -64px;
       }
    #easyRent{
        margin-top: 68px;
        .easyRent-heading{
           
        }
        .easyRent-way-box{
           
            .easyRent-card{
                
                .easyRent-card-wepper{
                    gap: 31px;
                    .easyRent-card-head{
                        .easyRent-rule-number{
                           
                        }
                        .easyRent-card-icon{
                            
                            display: flex; 
                            justify-content: center;
                            align-items: center;
                           
                            top: -86px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 78px;
                            height: 78px;
                            border: 1px solid #DDE8FF ;
                            background-color: #FFFFFF;
                        }
                        .easyRent-card-arrowIcon{
                        display: none;
                           
    
                        }
                    }
                    .easyRent-card-content{
                        text-align: center;
                        .easyRent-card-title{
                         
                        .easyRent-card-info{
                         
                        }
                    }
                }
               
            }
    
        }
       
        
    }
    }   
}

@media #{$tab-xl} {
    .header{
        .header-top{
            display: inline-block;
        }
    }
 // hereo setion media 
 .hero{
    .hero-benner{
        .hero-search{
            margin-top: 95px;
            padding-left: 20px;
            padding-right: 20px;

           .from{
           align-items: center;
            gap: 20px;
            .row{
                display: grid;
                grid-template-columns: auto auto auto auto ;
                gap: 20px;
                width: 100%;
               
                .input-items{
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    margin-top: 0;
                }
            }
            .btn-search{
                margin-left: 0 !important;
                
            }
          }
        } 
   } 

}

#RentCar{

 
    .rentalCard-wepper{
        .card-WepperBox{
            .row{
                display: grid !important;
                grid-template-columns: auto auto;

                .col-lg-3{
                    width: 100%;
                }
                
                .Latest_Services_card{
                    .Latest_Scard_ImgBox {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
// here end future car

// here future rent car 
#popularCar{
    .rentalCard-wepper{
        .card-WepperBox{
        .row{
            display: grid !important;
            grid-template-columns: auto auto;
            .col-lg-3{
                width: 100%;
            }

            .Latest_Services_card{
                .Latest_Scard_ImgBox {
                    max-width: 100%;
                }
            }
        }

            
        }
    }
}
//  here end future rent car 

#easyRent{
    margin-top: 68px;
    .easyRent-heading{
        text-align: center;
        margin-bottom: 7rem;
    }
    .easyRent-way-box{
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(237px, 1fr));
        grid-template-rows: 1fr;
        grid-row-gap: 90px;
        grid-column-gap: 40px;
        .easyRent-card{
           width: 100%;
            .easyRent-card-wepper{
                gap: 31px;
                .easyRent-card-head{
                    .easyRent-rule-number{
                        font-size: 80px;
                        font-weight: 700;
                        line-height: 16px;
                        color: #DDE8FF;
                    }
                    .easyRent-card-icon{
                        
                        display: flex; 
                        justify-content: center;
                        align-items: center;
                       
                        top: -86px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 78px;
                        height: 78px;
                        border: 1px solid #DDE8FF ;
                        background-color: #FFFFFF;
                    }
                    .easyRent-card-arrowIcon{
                       display: none;
                       

                    }
                }
                .easyRent-card-content{
                    text-align: center;
                    .easyRent-card-title{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 34px;
                    }
                    .easyRent-card-info{
                        font-size: 16px;
                        line-height: 25px;
                        font-weight: 400;
                        color: #3F3F3F;
                    }
                }
            }
           
        }

    }

    
}
#delar{
    padding-top: 40px;
    .delar-bg{
        .delar-box{
            gap: 49px;
            padding-left: 38px;
            padding-right: 26px;
            .delar-content{
               
               
                .delar-content-title{
               
                }
                .delar-content-info{
                
                }
                .delar-content-btn{
                    margin-top: 40px;
                    @include btnPrimary($pd:19px 30px, $color:#06131C, $bg:$color-white,$fsize:18px, $bra:4px, $border: none, $outline: none,  $tran: 0.4s, $hoverBG: $primary-color, $hoverCol: #06131C )
                  
                }
        
            }
           
         }
    }
   
}

#app{
    .appbg-box {
        .app-content-box{
            padding-left: 45px;
          padding-right: 45px;
        }
    }
}
#footer{
    .footer-box {
        padding-top: 80px;
        padding-bottom: 80px;
        gap: 65px;
    }
} 


}
@media #{pc-medium} {
   
    #easyRent{
        
        .easyRent-heading{
           
        }
        .easyRent-way-box{
            
            display: flex;
            gap: 7rem;
          
            .easyRent-card{

                .easyRent-card-wepper{
                    gap: 31px;
                    .easyRent-card-head{
                        .easyRent-rule-number{
                           
                        }
                        .easyRent-card-icon{
                            
                            display: flex; 
                            justify-content: center;
                            align-items: center;
                           
                            top: -86px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 78px;
                            height: 78px;
                            border: 1px solid #DDE8FF ;
                            background-color: #FFFFFF;
                        }
                        .easyRent-card-arrowIcon{
                        display: none;
                           
    
                        }
                    }
                    .easyRent-card-content{
                        text-align: center;
                        .easyRent-card-title{
                         
                        .easyRent-card-info{
                         
                        }
                    }
                }
               
            }
    
        }
       
        
    }
    }
    
    
}

