// colors-------------------->
$color-white: #E8EFFF;
$dark-white:#F3F4F9;
$color-yellow: #fbb03b;
$primary-color: #0C81F3;
$theme-two: #aa8453;
$theme-three: #ff385c;
$heading-color: #1c1c1c;
$paragraph-color: #666565;

// fonts-------------------->
$garamonde: "EB Garamond", serif;
$outfit: "Outfit", sans-serif;

// responsive-------------------->
$small-device: "(max-width: 346px)";
$mobile: "(max-width: 576px)";
$phone-tab: "only screen and (min-width: 576px) and (max-width: 768px)";
$tab-port: "(max-width:767px)";
$tab-between: "only screen and (min-width: 769px) and (max-width: 1023px)";
$tab-xl: "only screen and (min-width: 768px) and (max-width: 1200px)";
$tab-land: "(max-width:1023px)";
$pc-between: "only screen and (min-width: 1024px) and (max-width: 1200px)";
$pc-small: "(max-width:1200px)";
$pc-medium: "(min-width: 1024px) and (max-width: 1600px)";
$pc-xl: "(max-width: 1600px)";


// section gap 
